@import "../global";
/*
$blackGray: #222222;
$white: #fff;

.wrapper {
  margin: 0;
  background-color: #141414;
  opacity: 1;
  background-image: radial-gradient(#222222 2px, #141414 2px);
  background-size: 60px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  //font-family: montserrat, sans-serif;
  //max-width: 1440px;
  width: 100%;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
}*/

.containerPostgrado,
.containerPregrado {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom:2em;
}

.containerPregrado {
  margin-bottom: 20px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.wrapper {@include Wrapper}

.H1 { 
  @include H1;
  @include Space;
}
.Subtitle {
  @include Subtitle;
  @include Space;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Responsive*/
@media (max-width: 1024px) {
  // 2 y 3
  .card {
    flex-direction: row;
    width: 100%;
  }
}

@media (max-width: 768px) {
  // 1
  .card {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500px) {
  // titulo y subtitulo pequeños, aumenta letra dentro
  .wrapper {
    padding: 0;
  }
  .containerPostgrado,
  .containerPregrado {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 100%;
  }
  .H1 {
    font-size: $heading1r;
  }
}

@media only screen and (min-width: 1000) {
  .Page {
    margin-right: 1%;
  }
}

@media (max-width: 597px) {
  .H1 {
    width: 90%;
    @include H2
  }
  .Text {
    width: 100%;
  }
  .Subtitle {
    font-size: $text;
  }
  .ProyectosTitulo {
    @include H2
  }
  .AreaTitle {
    font-size: $text;
    text-align: center;
  }
  
  .AreaLink {
    @include Text;
    text-align: center;
  }
}

@media (max-width: 440px) {
  .H1 {
    width: 90%;
  }
  .Text {
    width: 100%;
    font-size: 15px;
  }
  .Subtitle {
    font-size: $text;
  }
}

@media (max-width: 392px) {
  .H1 {
    width: 100%;
  }
  .Text {
    width: 100%;
    font-size: 15px;
  }
  .Subtitle {
    font-size: $text;
  }
}

