@import "../global";
/*
$blackGray: #222222;
$white: #fff;

.wrapper {
  margin: 0;
  background-color: #141414;
  opacity: 1;
  background-image: radial-gradient(#222222 2px, #141414 2px);
  background-size: 60px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  //font-family: montserrat, sans-serif;
  //max-width: 1440px;
  width: 100%;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
}*/

.containerPostgrado,
.containerPregrado {
  width: 100%;
  margin: 0;
  padding: 0;
}

.containerPregrado {
  margin-bottom: 20px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.H1 {@include H1}
.Subtitle {@include Subtitle}
/*
.heading_0 {
  font-size: 3rem;
  color: #f1eeee;
  text-shadow: 0 0 8px $highlight, 0 0 2px $highlight, 0 0 10px $highlight,
    0 0 6px $highlight, 0 0 20px $highlight, 0 0 20px $highlight, 0 0 1px $highlight,
    0 0 12px $highlight;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
}

.heading_1 {
  font-size: 4rem;
  color: $highlight;
  //font-weight: 600;
  padding: 5px;
  margin-bottom: 0.1em;
  text-align: left;
  width: 100%;
}

.heading_2 {
  font-size: 4rem;
  color: $highlight;
  //font-weight: 600;
  padding: 5px;
  margin-bottom: 0.5em;
  margin-top: 2em;
  text-align: left;
  width: 100%;
}*/

@media (max-width: 1024px) {
  // 2 y 3
  .card {
    flex-direction: row;
    width: 100%;
  }
}

@media (max-width: 768px) {
  // 1
  .card {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500px) {
  // titulo y subtitulo pequeños, aumenta letra dentro
  .wrapper {
    padding: 0;
  }
  .containerPostgrado,
  .containerPregrado {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 100%;
  }
  /*
  .heading_0 {
    font-size: 25px;
    width: 100%;
    font-weight: 400;
    margin-left: 15px;
  }
  .heading_1 {
    font-size: 25px;
    width: 100%;
    font-weight: 400;
    margin-left: 10px;
  }

  .heading_2 {
    font-size: 25px;
    width: 100%;
    font-weight: 400;
    margin-top: 2em;
    margin-left: 10px;
  }*/
  .H1 {
    font-size: $heading1r;
  }
}

@media only screen and (min-width: 1000) {
  .Page {
    margin-right: 1%;
  }
}
@media only screen and (max-width: 991px) {
  .Page h1 {
    font-size: 3.6em;
    line-height: 1.2em;
  }
  .Page h2 {
    font-size: 2.2em;
    line-height: 1.1em;
  }
}