$font: montserrat, sans-serif;
$fontcolor: #FFF;
$backgroundTwo: #222222;
$green: #00b398;
$orange: #f95738;
$purple: #850053;

.Wrapper {
  width: 100%;
  display: flex;
  min-width: 300px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: $font;
  padding: 0px;
  text-decoration: none; 
  background-color: #141414;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*En esta parte se ponen todas las propiedades de las anidaciones*/
.Directores, .Colaboradores, .EncargadosOne, .EncargadosTwo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0px;
}

.EncargadosH1 {
  color: $green;
  font-size: 40px;
  text-align: center;
  width: 100%;
  font-weight: 700;
}

.ColaboradoresH1 {
  color: $purple;
  font-size: 40px;
  text-align: center;
  width: 100%;
  font-weight: 700;
}

.DirectoresH1 {
  color: $orange;
  font-size: 40px;
  text-align: center;
  width: 100%;
  font-weight: 700;
}

.EncargadosProyecto {
  width: 100%;
}

.DirectoresOne, .Encargados1{
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0px;
}

.DirectoresTwo, .Encargados2 {
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0px;
}

.ColaboradoresOne, .ColaboradoresTwo, .Encargados3, .Encargados4 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Responsive*/

@media(max-width: 1440px) {
  .Colaboradores, .EncargadosTwo{
    flex-direction: column;
  }
}

@media(max-width: 1044px) {
  .Directores, .EncargadosOne{
    flex-direction: column;
  }

  .DirectoresOne, .Encargados1, .DirectoresTwo, .Encargados2{
    width: 100%;
  }
}

@media(max-width: 748px) {

  .DirectoresOne, .Encargados1, .DirectoresTwo, .Encargados2{
    width: 100%;
    flex-direction: column;
  }
  .ColaboradoresOne, .ColaboradoresTwo, .Encargados3, .Encargados4 {
    flex-direction: column;
  }
}
