$fontcolor: #fff;
$backgroundTwo: #222222;
$green: #00b398;
$orange: #f39d2b;
$purple: #850053;

@import "../global";

//Nuevas tarjetas
$grayishBlue: hsl(229, 6%, 66%);
$veryLightGray: hsl(0, 0%, 98%);
$cyan: hsl(180, 62%, 55%);
$cyan1: #03A9F4;
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
/*
.Wrapper {
  width: 100%;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  background: #141414;
  background-color: #141414;
  opacity: 1;
  background-image: radial-gradient(#222222 2px, transparent 2px),
    radial-gradient(#222222 2px, #141414 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
  display: flex;
  min-width: 300px;
  justify-content: space-between;
  flex-wrap: wrap;
}*/
/*
.Title {
  font-size: 3rem;
  color: #f1eeee;
  text-shadow: 0 0 8px $orange, 0 0 2px $orange, 0 0 10px $orange,
    0 0 6px $orange, 0 0 20px $orange, 0 0 20px $orange, 0 0 1px $orange,
    0 0 12px $orange;
  text-transform: uppercase;
  padding: 5px;
}*/

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*En esta parte se ponen todas las propiedades de las anidaciones*/
.Directores,
.Colaboradores,
.EncargadosProyecto {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 0px;
}
/*
.DirectoresH1,
.ColaboradoresH1,
.EncargadosH1 {
  color: $orange;
  font-size: 4rem;
  width: 100%;
}*/

.H1 {@include H1}
.Subtitle {@include Subtitle}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Responsive*/
@media (max-width: 500px) { 
  .H1 {
    font-size: $heading1r;
  }
}

////////////////////////////////
//Nuevas tarjetas
.NewStyles {
  display: flex;
  flex-direction: column;
  //background-color: $background;
  //@include Wrapper
}

.ContainerOne {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}