@import "../../global";
$blackGray: #222222;
$card: #fff;

.container {
  width: 350px;
  display: flex;
  justify-content: center;
}

.card {
  position: relative;
  cursor: pointer;
}

.face {
  //caja texto
  width: 330px;
  height: 320px;
  transition: 0.5s;
}

.icono2 {
  width: 100px;
  height: 100px;
}

.H1 {@include H1}
.Subtitle {@include Subtitle}

.face.face1 {
  position: relative;
  background: $card;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(320px);
}

.card:hover .face.face1,
.card:hover .arrow {
  background: $highlight;
  transform: translateY(0);
  color: $card;
}

.card:hover .H1 {
  color: $card;
  font-weight: 578;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.face.face1,
.content {
  opacity: 0.2;
  transition: 0.5s;
}

.face.face1,
.arrow {
  transition: 0.5s;
}

.card:hover,
.face.face1,
.content {
  opacity: 1;
}

.container,
.card,
.face.face1,
.content .H1 {
  margin: 0;
  padding: 0;
  color: $highlight;
  text-align: center;
  font-size: 1.2em;
}

.arrow {
  position: relative;
  background: $card;
  display: flex;
  margin-top: 10px;
}

.face.face2 {
  position: relative;
  background: $card;
  color: $black;
  display: flex;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  //box-shadow: 0px 0px 10px 2px $highlight;
  transform: translateY(-100px);
}

.card:hover,
.face.face2 {
  transform: translateY(0);
}

.face.face2,
.content .Text {
  margin: 0;
  padding: 0;
}

.Text {@include Text}

.content .Text {
  text-align: justify;
  margin: 0px 15px 15px 15px;
  top: 3%;
  position: fixed;
  font-weight: 600;
}

.face,
.face2 {
  margin: 0;
  text-decoration: none;
  text-align: center;
  //border-top: 5px solid $highlight;
  border-left: 3px solid $highlight;
  border-radius: 20px;
}

.anchor {
  border: 3px solid $highlight;
  color: $highlight;
  text-transform: uppercase;
  padding: 5px;
  width: 55%;
  cursor: pointer;
  border-radius: 30px;
  letter-spacing: 1px;
  //text-decoration: none;
  font-weight: 525;
  display: block;
  bottom: 1em;
  font-size: 0.8em;
  position: fixed;
  bottom: 3%;
}

.anchor:hover {
  background-color: $highlight;
  color: $card;
  font-weight: 549;
  font-weight: bold;
}

@media (max-width: 768px) {
  /*copiar y pegar todos los estilos que tengan hover y cambiarlo a active*/
  .card:active .face.face1,
  .card:hover .arrow {
    transform: translateY(0);
  }

  .card:active,
  .face.face1,
  .content {
    opacity: 1;
  }

  .card:active,
  .face.face2 {
    transform: translateY(0);
  }

  .anchor:active {
    background: $highlight;
    color: $card;
    border-radius: 50px;
  }

  .arrow {
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .container {
    width: 300px;
  }
  .face {
    //caja texto
    width: 320px;
    height: 300px; //si se modifica cambiar .face.face1{transform}
    transition: 0.5s;
  }

  .face.face1 {
    z-index: 1;
    transform: translateY(300px); //si se modifica cambiar .face{height}
  }

  .anchor {
    font-size: 0.6em;
  }

  .arrow {
    margin: 10px;
  }

  .content .H1 {
    font-size: 0.9em;
  }
 
  .content .icono2 {
    max-width: 100%;
    max-height: 100%;
  }
}
