$blackGray: #222222;
$bluemid: #f39d2b;
$white: #fff;

.container {
  width: 350px;
  //position: relative;
  display: flex;
  justify-content: center;
}

.card {
  position: relative;
  cursor: pointer;
}

.face {
  //caja texto
  width: 350px;
  height: 240px;
  transition: 0.5s;
}

.icono2 {
  width: 100px;
  height: 100px;
}

.face.face1 {
  position: relative;
  background: $blackGray;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(240px);
}

.card:hover .face.face1,
.card:hover .arrow {
  background: $bluemid;
  transform: translateY(0);
  color: $blackGray;
}

.card:hover .cardh3 {
  color: $blackGray;
  font-weight: 578;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.face.face1,
.content {
  opacity: 0.2;
  transition: 0.5s;
}

.face.face1,
.arrow {
  transition: 0.5s;
}

.card:hover,
.face.face1,
.content {
  opacity: 1;
}

.container,
.card,
.face.face1,
.content .cardh3 {
  margin: 0 0 0 0;
  padding: 0;
  color: $white;
  text-align: center;
  font-size: 1.28em;
}

.arrow {
  position: relative;
  background: $blackGray;
  display: flex;
  opacity: 0.9;
  margin-top: 30px;
}

.face.face2 {
  position: relative;
  background: $blackGray;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  //box-shadow: 0 $white;
  transform: translateY(-100px);
}

.card:hover,
.face.face2 {
  transform: translateY(0);
}

.face.face2,
.content .parrafocard {
  margin: 0;
  padding: 0;
}

.content .parrafocard {
  text-align: justify;
  margin: 15px;
  font-size: 1.4rem;
  //font-weight: 1000;
  top: 1em;
  position: fixed;
}

.face,
.face2 {
  margin: 0;
  text-decoration: none;
  text-align: center;
  color: $blackGray;
  border: 1px solid $blackGray;
  border-radius: 20px;
}

.anchor {
  border: 3px solid $bluemid;
  color: $white;
  text-transform: uppercase;
  padding: 5px;
  width: 55%;
  cursor: pointer;
  border-radius: 30px;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 525;
  display: block;
  bottom: 1em;
  font-size: 0.8em;
  position: fixed;
}

.anchor:hover {
  background-color: $bluemid;
  color: $blackGray;
  font-weight: 549;
  font-weight: bold;
}

@media (max-width: 768px) {
  /*copiar y pegar todos los estilos que tengan hover y cambiarlo a active*/
  .card:active .face.face1,
  .card:hover .arrow {
    transform: translateY(0);
  }

  .card:active,
  .face.face1,
  .content {
    opacity: 1;
  }

  .card:active,
  .face.face2 {
    transform: translateY(0);
  }

  .anchor:active {
    background: $bluemid;
    color: $white;
    border-radius: 50px;
  }

  .arrow {
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .container {
    width: 300px;
  }
  .face {
    //caja texto
    width: 300px;
    height: 200px;
    transition: 0.5s;
  }

  .face.face1 {
    z-index: 1;
    transform: translateY(200px);
  }

  .parrafocard {
    font-size: 0.8em;
  }

  .anchor {
    font-size: 0.6em;
  }

  .arrow {
    margin: 10px;
  }

  .content .cardh3 {
    font-size: 0.9em;
  }

  .content .icono2 {
    max-width: 100%;
    max-height: 100%;
  }
}
