$bluelight: #7AF3F1;
$blackGray: #222222;
$bluemid: #2A7DE1;
$bluedark: #1B1FAE;
$white: #fff;
$purplelight: #aa66ba;
$purplemid: #850053;
$purpledark: #260700;
$black: #000;

.conttabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 50px auto;
    padding: 25px;
   
}

.manita {
    position: relative;
    //background: $blackGray;
    display: flex;
    margin-left: 80px;
    width: 18px;
    height: 18px;
}

.conttabs .input0 {
    display: none;

}

.conttabs .label0 {
    width: 190px;
    padding: 10px;
    background: $purplelight;
    font-size: 1.7em;
    font-weight: bold;
    color: $black;
    text-align: center;
    border-top: 1.5px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: $purpledark;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
//  order: 2;  //cambiar etiquetas arriba de la tab o abajo
}

.conttabs .tabs {
    width: 100%;
    padding: 20px;
    background: $white;
    order: 1;
    display: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.conttabs .tabs .tabsh2 {
    font-size: 3em;
    color: $purpledark;
    text-align: center;
}

.conttabs .tabs .parrafoT0 {
    font-size: 1.4em;
    color: $purpledark;
    text-align: justify;
    padding: 5px;
}

.conttabs .input0:checked + .label0 + .tabs {
    display: block;
}

.conttabs .input0:checked + .label0 {
    background: $white;
    border-color: $white;
}