@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import "../../global";
/*
$card: #383838;
$white: #ffffff;
$color: #00b398;
$color: #f39d2b;
$background: #1f1e1d;*/

.Tog {
  grid-area: tog;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas:
    ". boton "
    "abstract abstract";
}
.Buttons {
  grid-area: boton;
  padding-left: 2%;
  padding-right: 2%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.Buttons .Article {
  border: 3px solid $highlight;
  color: $highlight;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  width: 55%;
  cursor: pointer;
  border-radius: 30px;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 525;
  display: block;
  font-size: 1.3em;
  bottom: 3%;
  &:hover {
    background: $highlight;
    color: $card;
    font-weight: 540;
    font-weight: bold;
  }
}
.Buttons button {
  border: 3px solid $highlight;
  color: $highlight;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  width: 55%;
  cursor: pointer;
  border-radius: 30px;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 525;
  display: block;
  font-size: 1.3em;
  bottom: 3%;
  &:hover {
    background: $highlight;
    color: $card;
    font-weight: 540;
    font-weight: bold;
  }
}
.Buttons button:focus {
  outline: none;
}
.Abstract {
  grid-area: abstract;
  padding: 0 3% 2% 2%;
}
.Abstract .Text {
  @include Text;
  @include Space;
  text-align: justify;
}

@media only screen and (max-width: 993px) {
  .Tog {
    grid-template-columns: 100%;
    grid-template-areas:
      "boton"
      "abstract";
  }
  .Buttons {
    margin-bottom: 2%;
  }
  .Buttons button {
    display: block;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3em;
    &:focus {
      background: $highlight;
    }
  }
  .Buttons .Article {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3em;
    &:hover {
      background: $highlight;
    }
  }
}

@media (max-width: 500px) {
  .Buttons button {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1em;
    &:focus {
      background: $highlight;
    }
  }
  .Buttons .Article {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1em;
    &:hover {
      background: $highlight;
    }
  }
}
