@import url("https://fonts.googleapis.com/css2?family=Cairo&family=Encode+Sans&display=swap");
.Wrapper {
  font-family: "Encode Sans", sans-serif;
  background-color: transparent;
  border: 2px solid #f1f2f4;
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.LogoTitleWrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;

  .Logo {
    width: 90px;
    height: 90px;
    margin: 10px 0;
  }
  .Title {
    font-size: 50px;
    color: #0073ff;
  }
}

.DescriptionWrapper {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  margin-bottom: 25px;
  text-align: center;
  h3 {
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
  }
}

.ResearchWrapper {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  h3 {
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
  }
}

.AreasWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.Area {
  margin: 20px;
  text-align: center;
}

.AreaLogo {
  width: 70px;
  height: 70px;
  margin: 0 20px 0px 20px;
}

.ReadMore {
  text-align: center;
  font-size: 40px;
  color: #0073ff;
}
