$admas: #0073ff;
$domotica: #d741a7;
$exodux: #fdb833;
$agricultura: #acd747;
$vehiculos: #ee6c4d;

@import url("https://fonts.googleapis.com/css2?family=Cairo&family=Encode+Sans&display=swap");
.Wrapper {
  font-family: "Encode Sans", sans-serif;
  background-color: #222222;
  border: 2px solid transparent;
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.LogoTitleWrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;

  .Logo {
    width: 90px;
    height: 90px;
    margin: 10px 0;
  }
  .Title {
    font-size: 50px;
    color: #f1f2f4;
    &.Admas {
      color: $admas;
    }

    &.Domotica {
      color: $domotica;
    }

    &.Exodux {
      color: $exodux;
    }

    &.Agricultura {
      color: $agricultura;
    }

    &.Vehiculos {
      color: $vehiculos;
    }
  }
}

.DescriptionWrapper {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  margin: 25px 0px;
  text-align: center;
  height: 260px;
  h3 {
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
  }
}

.ResearchWrapper {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  h3 {
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
  }
}

.AreasWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.Area {
  margin: 20px;
  text-align: center;
}

.AreaLogo {
  width: 70px;
  height: 70px;
  margin: 0 20px 0px 20px;
}

.ReadMore {
  text-align: center;
  font-size: 40px;
  color: white;

  &.Admas {
    color: $admas;
  }

  &.Domotica {
    color: $domotica;
  }

  &.Exodux {
    color: $exodux;
  }

  &.Agricultura {
    color: $agricultura;
  }

  &.Vehiculos {
    color: $vehiculos;
  }
}

.ResearhAreas {
  color: #f1f2f4;
}
