$admas: #0073ff;
$domotica: #d741a7;
$exodux: #fdb833;
$agricultura: #acd747;
$vehiculos: #ee6c4d;
$bacco: #141414;
.Wrapper {
  @for $i from 1 through 3 {
    .container#{$i} {
      background-color: lighten($bacco, random(35));
      padding: 50px;
      height: 110vh;
    }
  }

  width: auto;
  display: flex;
  color: #f1f2f4;
  flex-direction: column;
  margin: auto;

  .Title {
    margin-top: 6em;
    font-size: 3.5rem;

    &.Admas {
      color: $admas;
    }

    &.Domotica {
      color: $domotica;
    }

    &.Exodux {
      color: $exodux;
    }

    &.Agricultura {
      color: $agricultura;
    }

    &.Vehiculos {
      color: $vehiculos;
    }
  }

  .description {
    max-width: 40%;
    margin-bottom: 15em;
  }

  p {
    font-size: 1.5em;
  }

  .containera {
    height: 100vh;
  }

  .ColabTitle,
  .ResearchTitle {
    font-size: 2.6rem;
    text-align: right;
    margin-top: 50px;
    margin-bottom: -10px;

    &.Admas {
      color: $admas;
    }

    &.Domotica {
      color: $domotica;
    }

    &.Exodux {
      color: $exodux;
    }

    &.Agricultura {
      color: $agricultura;
    }

    &.Vehiculos {
      color: $vehiculos;
    }
  }

  .ColabTitle {
    margin-bottom: 10px;
  }
}

.AreaWrapper {
  display: flex;
  justify-content: space-between;
  height: auto;
  margin-top: 10em;
  flex-wrap: wrap;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.Area {
  width: 400px;
  margin-top: 100px;

  .AreaTitle {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }

  .AreaInfo {
    font-size: 1rem;
  }
}

.CollaboratorsWrapper {
  margin-top: 10em;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

  a {
    font-size: 2rem;
  }
}
