@import "../global";

/*
.Wrapper {
  font-size: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //gap: 25px;
  background-color: #141414;
  opacity: 1;
  background: radial-gradient(
      circle,
      transparent 20%,
      #141414 20%,
      #141414 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #141414 20%,
        #141414 80%,
        transparent 80%,
        transparent
      )
      20px 20px,
    linear-gradient(#222222 1.6px, transparent 1.6px) 0 -0.8px,
    linear-gradient(90deg, #222222 1.6px, #141414 1.6px) -0.8px 0;
  background-size: 40px 40px, 40px 40px, 20px 20px, 20px 20px;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
}*/

.Wrapper {
  @include Wrapper;
}

.H1 {
  @include H1;
  @include Space
}

.H2 {
  @include H2;
}

.Subtitle {
  @include Subtitle;
  @include Space
}

.ContainerBack {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.Title {
  font-size: 4rem;
  color: $highlight;
  padding: 3px;
  text-align: left;
  width: 100%;
}

.AreasContainer {
  display:flex;
  flex-direction: column;
  width: 100%;
}

.Container {
  display: flex;
  flex-direction: row;
  width: 90%;
  background: $card;
  border-radius: 10px;
  box-shadow: 0px 30px 40px -20px $grayishBlue;
  border-left: 5px solid $highlight;
}

.BlogForm {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  padding-left: 2%;
}

.InputContainer {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  font-family: $font_text;
}

.Button {
  padding: 10px;
  width: 31%;
  color: $highlight;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border: 3px solid $highlight;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 525;
  background-color: $card;
  &:hover {
    background: $highlight;
    color: $background;
    font-weight: 540;
    font-weight: bold;
  }
}

.AddRemButton {
  padding: 5px;
  width: 15%;
  color: $highlight;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border: 3px solid $highlight;
  border-radius: 20px;
  //font-size: 0.4em;
  font-size: 17px;
  font-weight: 525;
  //height: 40px;
  //margin-right: 2%;
  background-color: $card;
  &:hover {
    background: $highlight;
    color: $background;
    font-weight: 540;
    font-weight: bold;
  }
}

.Submit {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px;
}

.Rocket {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Image {
  width: 100%;
}

.Span {
  ///font-size: 2.5rem;
  //color: #fff;
  //padding: 0;
  font-size: 17px;
  font-family: $font_text;
}

.InputBlog {
  color: $black;
  background-color: $card;
  width: 93%;
  height: 40px;
  border: 3px solid $highlight;
  border-radius: 10px;
  font-size: 17px;
  font-family: $font_text;
  outline: none;
}

.InputArea {
  color: $black;
  background-color: $card;
  width: 30%;
  height: 40px;
  border: 3px solid $highlight;
  border-radius: 10px;
  font-size: 17px;
  font-family: $font_text;
  outline: none;
  margin-right: 3%;
}

.InputAreaLabel {
  color: $black;
  background-color: $card;
  width: 15%;
  height: 40px;
  border: 3px solid $highlight;
  border-radius: 10px;
  font-size: 17px;
  font-family: $font_text;
  outline: none;
  margin-right: 3%;
}

.InputBlog::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

.InputDesBlog {
  color: $black;
  background-color: $card;
  width: 93%;
  height: 150px;
  border: 3px solid $highlight;
  border-radius: 10px;
  font-size: 17px;
  font-family: $font_text;
  outline: none;
}

input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 0px;
  font-size: 1.5rem;
}

.buttonWrap {
  position: relative;
  border: 3px solid $highlight;
  border-radius: 10px;
  font-size: 1.5rem;
  width: 93%;
  height: 40px;
  //color: red;
}

.newButton {
  display: inline-block;
  width: 50%;
  height: 34px;
  padding: 5px 5px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 17px;
  font-family: $font_text;
  color: $black;
}


//RESPONSIVE
@media(max-width: 1016px) {
  .Image {
    width: 0%;
  }
  .BlogForm {
    width: 100%;
  }
  .Rocket {
    width: 0%;
  }
}

@media (max-width: 597px) {
  .H1 {
    width: 90%;
    @include H2
  }
  .H2 {
    font-size: 17px;
  }
  .AddRemButton {
    width: 20%;
  }
  .Button {
    width: 45%;
  }
  .newButton {
    width: 70%;
  }
}
