
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

$grey: #222222;
$light: #d9dbdf;
$white: #eeeeee,;
$pink: #eb396b;
$rose: #a12549;
$dark: #3D4351;

.Container {
  position: relative;
  margin: 25px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 90%;
  height: auto;
  background: $grey;
  box-shadow: 5px 5px 8px rgba($light, .2);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: "foto info "
                        "tog tog "
}

.Container img{
  grid-area: foto;
  border-radius: 5px;
  width: 90%;
  margin: 5%;
}


.Information {
  grid-area: info;
  width: 100%;
  padding-left: 2%;
  padding-top: 3%;
  padding-bottom: 2%;
  padding-right: 5%;
}

.Information h1 {
  font-size: 2.5em;
  color: $white;
  font-weight: 800;
}

.Information h2 {
  font-size: 2em;
  color: $white;
  margin-top: -5px;
  font-weight: 500;
}
.Information h3 {
  font-size: 1.5em;
  color: $light;
  text-decoration: underline;
}
.Information h4 {
  font-size: 1.5em;
  color: $light;
  font-style: italic;
}

.Information ul {
  margin-top: 5px;
  list-style-type: "→ ";
  list-style-position: inside;
  line-height: 1.75em;
  font-size: 1.3em;
}

.Tog {
  grid-area: tog;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: ". boton "
                        "abstract abstract";
}

.Buttons {
  grid-area: boton;
  padding-left: 2%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.Buttons .Article {
  padding: 10px;
  display: block;
  margin-left: 0;
  margin-top: 0;
  border-radius: 3px;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: $white;
  background: $pink;
  width: 75%;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    background: $rose;
    transition: all .3s ease-in-out;
    color: $white;
  }
}

.Buttons button {
  padding: 10px;
  width: 75%;
  background: $pink;
  color: $white;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border: $pink;
  border-radius: 3px;
  font-size: 1.5em;
  &:hover {
    background: $rose;
    transition: all .3s ease-in-out;
    color: $white;
  }
}
.Buttons button:focus {
  outline: none;
}

.Abstract {
  grid-area: abstract;
  padding: 0 3% 2% 2%;
}

.Abstract p {
  font-size: 1.3em;
  letter-spacing: 1px;
  margin-top: 5px;
  line-height: 1.3em;
  text-align: justify;
  text-indent: 10px;
}

@media only screen and (max-width: 991px){
  .Container {
    box-shadow: 3px 3px 5px rgba($light, .2);
    grid-template-columns: 100%;
    grid-template-areas: "foto"
                        "info"
                        "tog";
  }
  .Information {
    padding: 5%;
  }
  .Information p, ul {
    font-size: 1em;
    line-height: 1.2em;
  }
  .Information h1 {
    font-size: 2.25em;
  }
  .Information h2 {
    font-size: 2em;
  }
  .Tog {
    grid-template-columns: 100%;
    grid-template-areas: "boton"
                          "abstract";
  }
  .Buttons {
    margin-bottom: 2%;
  }
  .Buttons button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    &:focus {
      background: $pink;
    }
  }
  .Buttons .Article {
    margin-left: auto;
    margin-right: auto;
    &:hover {
      background: $pink;
    }
  }
}

