@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import "../global";
$card: #383838;
$white: #ffffff;
$color: #00b398;
$primary: #00b398;
$background: #1f1e1d;
/*
.Page {
  width: 100%;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  background: #141414;
  //background-color: #141414;
  //opacity: 1;
  //background: radial-gradient(circle, transparent 20%, #141414 20%, #141414 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #141414 20%, #141414 80%, transparent 80%, transparent) 20px 20px, linear-gradient(#222222 1.6px, transparent 1.6px) 0 -0.8px, linear-gradient(90deg, #222222 1.6px, #141414 1.6px) -0.8px 0;
  //background-size: 40px 40px, 40px 40px, 20px 20px, 20px 20px;
  background-color: #141414;
  opacity: 1;
  background-image: radial-gradient(#222222 2px, transparent 2px),
    radial-gradient(#222222 2px, #141414 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}*/

.ContainerSpace {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content:center;
  align-items: center;
}

.Space {
  width: 95%;
}

.Page{
  @include Wrapper
}

.H1 {
  @include H1;
  @include Space
}

.Subtitle {
  @include Subtitle;
  @include Space
}

/*
.Page h2 {
  font-size: 4rem;
  color: $primary;
  padding: 5px;
  margin-bottom: 0.5em;
}*/

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Responsive*/

@media (max-width: 500px) {
  .Page h2 {
    //font-size: 4rem;
    //line-height: 1.25em;
  }
}

@media (max-width: 597px) {
  .H1 {
    width: 90%;
    @include H2;
    @include Space
  }
  .Text {
    width: 100%;
  }
  .Subtitle {
    font-size: $text;
  }
}

@media (max-width: 440px) {
  .H1 {
    width: 90%;
  }
  .Text {
    width: 100%;
    font-size: 15px;
  }
  .Subtitle {
    font-size: $text;
  }
}

@media (max-width: 392px) {
  .H1 {
    width: 100%;
  }
  .Text {
    width: 100%;
    font-size: 15px;
  }
  .Subtitle {
    font-size: $text;
  }
}
