@import "../global";

$lite-grey: rgba($background, 0.2);

$transition: cubic-bezier(0.17, 0.67, 0.5, 1.03);
$timing-1: 0.4s 0.15s;
$timing-2: 0.5s 0.25s;

article.card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 50vh;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba($background, 0.3);
  overflow: hidden;
  max-width: 70%;
  color: $black;
}
.thumb {
  width: 100%;
  height: 65%;
  border-radius: 3px;
}
.infos {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 2% 5%;
  background: $card;
  transition: $timing-1 $transition;
}
.H1 {
  @include H1;
  @include Space;
  line-height: 2;
}
.Subtitle {
  @include Subtitle;
  text-transform: uppercase;
}

.title {
  position: relative;
  margin: 3px 0;
  letter-spacing: 3px;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
}
.date,
.seats {
  margin-bottom: 3px;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 2px;
  color: $highlight;
}
.seats {
  display: inline-block;
  margin-bottom: 3%;
  padding-bottom: 3%;
  border-bottom: 1px solid $lite-grey;
  opacity: 0;
  transition: $timing-2 $transition;
}

.txt {
  line-height: 1.8;
  font-size: 1.1rem;
  opacity: 0;
  transition: $timing-2 $transition;
  padding-bottom: 3%;
  text-align: justify;
}

.H2 {
  @include H2;
  @include Space;
  line-height: 2;
}

.txt h3 {
  line-height: 2;
  font-size: 1.1rem;
  padding: 0.2rem;
  font-weight: bold;
}

.details {
  border: 3px solid $highlight;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  width: 55%;
  cursor: pointer;
  border-radius: 30px;
  letter-spacing: 1px;
  //text-decoration: none;
  font-weight: 525;
  display: block;
  font-size: 1.3em;
  bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  color: $highlight;
  &:hover {
      background: $highlight;
      color: $card;
      font-weight: 540;
      font-weight: bold;
  }
}

.infos:hover {
  transform: translateY(-65%);
  overflow: scroll;
  .seats,
  .txt,
  .details {
    opacity: 1;
  }
}

@media only screen and (max-width: 425px) {
  article.card {
    width: 80%;
    height: 40vh;
  }
  .title {
    font-size: 1.75rem;
    letter-spacing: 1.5px;
  }
  .date,
  .seats {
    margin-bottom: 1.5px;
    font-size: 1.25rem;
    letter-spacing: 1.25px;
    color: $highlight;
  }
  .seats {
    margin-bottom: 3%;
    padding-bottom: 3%;
  }
  .txt {
    font-size: 1.25rem;
  }
  .txt h3 {
    font-size: 1.25rem;
  }
  .details {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    padding: 2%;
    width: 55%;
    color: $highlight;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    border: 3px solid $highlight;
    border-radius: 30px;
    font-size: 1.3em;
    font-weight: 525;
    &:hover {
        background: $highlight;
        color: $card;
        font-weight: 540;
        font-weight: bold;
    }
  }
  .infos {
    padding: 1% 3%;
    background: $card;
    transition: $timing-1 $transition;
  }
  .infos:active {
    transform: translateY(-75%);
    overflow: scroll;
    .seats,
    .txt,
    .details {
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 1000px) {
  article.card {
    height: 40vh;
  }
  .title {
    font-size: 1.75rem;
    letter-spacing: 1.5px;
  }
  .date,
  .seats {
    margin-bottom: 1.5px;
    font-size: 1.5rem;
    letter-spacing: 1.25px;
    color: $highlight;
  }
  .group {
    margin-bottom: 4%;
    padding-bottom: 4%;
  }
  
  .txt {
    font-size: 1.1rem;
  }
  .txt h3 {
    font-size: 1.3rem;
  }
  .details {
    width: 55%;
    letter-spacing: 1.1px;
    font-size: 0.8rem;
  }
  .infos:active {
    transform: translateY(-75%);
    overflow: scroll;
    .gropu,
    .txt,
    .details {
      opacity: 1;
    }
  }
}

.hidden { 
  display: none; 
}

@media (max-width: 440px) {
  .infos .H1 {
    width: 90%;
  }
  .infos .Text {
    width: 100%;
    font-size: 15px;
  }
  .infos .Subtitle {
    font-size: $text;
    text-transform: capitalize;
  }
}

@media (max-width: 392px) {
  .infos .H1 {
    width: 100%;
    font-size: 15px;
  }
  .infos .H2 {
    width: 100%;
    font-size: 15px;
  }
  .infos .Text {
    width: 100%;
    font-size: 15px;
  }
  .infos .Subtitle {
    font-size: 15px;
    text-transform: capitalize;
  }
  .txt {
    font-size: 0.8rem;
  }
  .txt h3 {
    font-size: 0.8rem;
  }
}