//Colors
$background: #f0f1f5;
$highlight: #687efe;
$card: #fff;
$black: #000;
$grayishBlue: hsl(229, 6%, 66%);

//Sizes
$heading1: 42.5px;
$heading2: 23.375px;
$subtitle: 23px;
$text: 17px;

//Responsive sizes
$heading1r: 34px;

//Font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
$font_text: 'Open Sans', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans:wght@300&display=swap');
$font_heading: 'Merriweather Sans', sans-serif;

//Estilos que se repiten
@mixin Wrapper{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 1%;
    max-width: 1440px;
}

@mixin H1 {
    font-family: $font_heading;
    font-size: $heading1;
    padding: 5px;
    color: $black;
    //margin-left: 10px;
}

@mixin H2 {
    font-family: $font_heading;
    font-size: $heading2;
    padding: 5px;
    color: $black;
    //margin-top: 10px;
    //margin-left: 200px;
}

@mixin Subtitle {
    font-family: $font_text;
    font-size: $subtitle;
    padding: 5px;
    color: $highlight;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    letter-spacing: 2px;
}

@mixin Text {
    font-family: $font_text;
    font-size: 17px;
    padding: 5px;
    color: $black;
    text-align: left;
}

@mixin Space {
    padding-left: 5%;
    padding-right: 5%;
}