
//Colors
$background: #f0f1f5;
$highlight: #687efe;
$card: #fff;
$black: #000;

//Sizes

$heading1: 42.5px; //48 apple
$heading2: 23.375px; //28 apple
$subtitle: 23px;
$text: 17px; //cdc links tmbn 

//Responsive sizes

$heading1r: 34px;

//Font

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
$font_text: 'Open Sans', sans-serif;


@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans:wght@300&display=swap');
$font_heading: 'Merriweather Sans', sans-serif;

//Wrapper
body{
    width:100%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
}

@mixin H1 {
    font-family: $font_heading;
    font-size: $heading1;
    padding: 5px;
    color: $black;
}

@mixin H2 {
    font-family: $font_heading;
    font-size: $heading2;
    padding: 5px;
    color: $black;
}

@mixin Subtitle {
    font-family: $font_text;
    font-size: $subtitle;
    padding: 5px;
    color: $highlight;
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
    letter-spacing: 2px;
}

