@import url("https://fonts.googleapis.com/css2?family=Cairo&family=Encode+Sans&display=swap");

.Wrapper {
  display: flex;
  flex-direction: column;
  font-family: "Encode Sans", sans-serif;
  background-color: #222222;
  color: #f1f2f4;
}
.CardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 50px;
}

.Header {
  font-size: 30px;
  height: auto;
  margin-bottom: 40px;

  ul {
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  li {
    display: block;
  }
}

.CardsContainerTitle {
  font-size: 50px;

  margin-left: 50px;
}
